<footer
  class="mt-auto w-full h-[150px] bg-primary text-white text-sm flex flex-col items-center"
>
  <div class="flex w-full h-full">
    <div class="flex flex-col items-center justify-center w-full h-full">
      <div>Test</div>
      <div>Test</div>
    </div>
    <div class="flex flex-col items-center justify-center w-full h-full">
      Test
    </div>
    <div class="flex flex-col items-center justify-center w-full h-full">
      Test
    </div>
  </div>
  <div class="h-10">Copyright © {new Date().getFullYear()}</div>
</footer>
