---
import HeroImg from "../assets/hero.png";
import { Image } from "astro:assets";
---

<section class="h-max bg-cover bg-no-repeat bg-center flex">
  <div class="container mx-auto flex justify-around h-full items-center">
    <div class="flex flex-col py-20">
      <h1 class="text-5xl leading-[1.1] font-light">
        <span>Лише оригінальні речі</span>
      </h1>
      <a
        href="/products"
        class="m-5 bg-primary px-5 py-2 text-white mx-auto rounded"
      >
        Перейти до каталогу
      </a>
    </div>
    <div class="ml-auto">
      <Image
        src={HeroImg}
        alt="hero"
        width={447}
        height={559}
        class="hidden md:block"
      />
    </div>
  </div>
</section>
