---
import Layout from "../layouts/Shop.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Головна"
  description="Кішка Стрибає - Інтернет-магазин брендового одягу Puma. Оригінальні речі за найкращими цінами в Україні"
>
  <div>
    <Hero />
  </div>
</Layout>
