---
import Logo from "/public/logo.png";
import { Image } from "@astrojs/image/components";
---

<div class="mr-5">
  <a href="/" class="flex items-center gap-5 text-md sm:text-2xl">
    <Image
      src={Logo}
      alt="Кішка стрибає - логотип"
      width={160}
      height={160}
      class="w-20"
    />
  </a>
</div>
