---
import Layout from "../../layouts/Shop.astro";
---

<Layout
  title="Категорії"
  description="Пошук за категоріями в Інтернет-магазині брендового одягу Puma"
>
  <div>
    <!-- <Categories client:visible /> -->
  </div>
</Layout>
