---
import Layout from "../layouts/Shop.astro";
import Products from "../components/products/Products";
import Hero from "../components/Hero.astro";
---

<Layout title="Home">
  <div>
    <Hero />
    <Products client:visible />
  </div>
</Layout>
