---
import Footer from "../components/Footer";
import Header from "../components/header/Header.astro";
import Logo from "../components/header/Logo.astro";

const { title, description } = Astro.props;
---

<html lang="uk" class="min-h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#222222" />
    <link rel="apple-touch-icon" href="/logo.png" />
    <title>{title} – Кішка Стрибає</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header
      class="sticky bg-primary text-white w-full z-10 transition-all py-5 top-0 left-0 right-0"
    >
      <div class="container flex mx-auto items-center justify-between h-full">
        <Logo />
      </div>
    </header>
    <slot />
    <Footer />
  </body>
</html>
