---
import Sidebar from "../components/cart/Sidebar";
import Footer from "../components/Footer.astro";
import Header from "../components/header/Header.astro";

const { title, description } = Astro.props;
---

<html lang="uk" class="min-h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpeg" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#222222" />
    <link rel="apple-touch-icon" href="/logo.png" />
    <title>{title} – Кішка Стрибає</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <slot />
    <Footer />
    <Sidebar client:idle />
  </body>
</html>
