---
import Layout from "../../layouts/Shop.astro";
import ProductType, { ProductVariation } from "../../types/Product";
import ProductDetails from "../../components/products/ProductDetails";
import { getOne, getVariations } from "../../api/products";

const productId = Astro.params.id;

let product = undefined as undefined | ProductType;
let productVariations = undefined as undefined | ProductVariation[];
if (productId) {
  const response = await getOne(productId);
  if (response.data) {
    product = response.data;
    productVariations = await getVariations(product).then(
      ({ data }) => data?._embedded?.productItems ?? []
    );
  }
}
---

<Layout
  title={product?.name ?? "Товар не знайдено"}
  description="Перелік наявних товарів в Інтернет-магазині брендового одягу Puma"
>
  <div class="py-16 mx-auto">
    {
      product ? (
        <ProductDetails
          client:visible
          product={product}
          variations={productVariations}
        />
      ) : (
        <div>Товар не знайдений</div>
      )
    }
  </div>
</Layout>
