---
import Layout from "../../layouts/Shop.astro";
import type { ProductDetails as ProductDetailsType } from "shared/types/product";
import ProductDetails from "../../components/products/ProductDetails";

const slug = Astro.params.slug;

let productDetails = undefined as undefined | ProductDetailsType;
const response = await fetch(
  `http://localhost:8080/api/products/slug/${slug}/details`
)
  .then((res) => (res.status === 200 ? res.json() : null))
  .catch((err) => console.log(err));

if (response) {
  productDetails = response;
}
---

<Layout
  title={productDetails?.product?.name ?? "Товар не знайдено"}
  description="Перелік наявних товарів в Інтернет-магазині брендового одягу Puma"
>
  <div class="py-16 mx-auto">
    {
      productDetails?.product ? (
        <ProductDetails client:visible productDetails={productDetails} />
      ) : (
        <div>Товар не знайдений</div>
      )
    }
  </div>
</Layout>
