---
import Layout from "../../layouts/Shop.astro";
import Products from "../../components/products/Products";
---

<Layout
  title="Товари"
  description="Перелік наявних товарів в Інтернет-магазині брендового одягу Puma"
>
  <div>
    <Products client:visible />
  </div>
</Layout>
