---
import HeroImg from "../assets/hero.png";
import { Image } from "@astrojs/image/components";
---

<!-- // const Hero = () => {
//   return ( -->
<section class="h-max bg-hero bg-cover bg-no-repeat bg-center flex">
  <div class="container mx-auto flex justify-around h-full items-center">
    <div class="flex flex-col py-20">
      <h1 class="text-5xl leading-[1.1] font-light text-white">
        <span>Лише оригінальні речі</span>
      </h1>
    </div>
    <div class="ml-auto">
      <Image src={HeroImg} alt="hero" width={447} height={559} class="hidden md:block" />
    </div>
  </div>
</section>
<!-- //   );
// };

// export default Hero; -->
