---
import Logo from "../assets/logo.png";
import { Image } from "@astrojs/image/components";
---

<!-- const Navbar = () => {
  return ( -->
<>
  <a href="/">
    <div class="flex items-center gap-5">
      <Image src={Logo} alt="Кішка стрибає - логотип" width={40} height={40} />
      <h1 class="font-semibold text-2xl">Кішка стрибає</h1>
    </div>
  </a>
</>
<!-- );
}; -->

<!-- export default Navbar; -->
