---
import Sidebar, { Link } from "../components/admin/sidebar/Sidebar";

const { title } = Astro.props;
const currentPath = Astro.url.pathname;

const links: Link[] = [
  {
    name: "Товари",
    url: "products",
  },
  {
    name: "Категорії",
    url: "categories",
  },
];
---

<html lang="uk" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#222222" />
    <link rel="apple-touch-icon" href="/logo.png" />
    <title>{title}</title>
  </head>
  <body class="flex h-full bg-white dark:bg-stone-800">
    <Sidebar currentPath={currentPath} links={links} />
    <div class="flex flex-col flex-1">
      <slot />
    </div>
  </body>
</html>
