---
import Navbar from "../components/Navbar.astro";
import CartIcon from "../components/CartIcon";
import Sidebar from "../components/Sidebar";

const { title } = Astro.props;

export interface Props {
  title: string;
}
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        -webkit-text-fill-color: inherit !important;
        transition: inherit !important;
      }
    </style>
  </head>
  <body class="h-full flex flex-col">
    <header
      class="sticky bg-primary text-white w-full z-10 transition-all py-5 top-0 left-0 right-0"
    >
      <div class="container flex mx-auto items-center justify-between h-full">
        <Navbar />
        <CartIcon client:idle />
      </div>
    </header>
    <slot />
    <Sidebar client:idle />
  </body>
</html>
